:root {
    --backgrounddefault: rgba(14, 14, 14, 1);
    --backgroundmuted: rgba(218, 197, 167, 0.05);
    --backgroundmuted-2: rgba(255, 255, 255, 0.07);
    --backgroundprimary: rgba(218, 197, 167, 1);
    --backgroundsecondary: rgba(26, 26, 26, 1);
    --borderdefault: rgba(218, 197, 167, 0.15);
    --borderinverse: rgba(255, 255, 255, 0.12);
    --heading-h1-font-family: "Satoshi", Helvetica;
    --heading-h1-font-size: 64px;
    --heading-h1-font-style: normal;
    --heading-h1-font-weight: 300;
    --heading-h1-italic-font-family: "Satoshi", Helvetica;
    --heading-h1-italic-font-size: 64px;
    --heading-h1-italic-font-style: italic;
    --heading-h1-italic-font-weight: 300;
    --heading-h1-italic-letter-spacing: 0px;
    --heading-h1-italic-line-height: 110.00000238418579%;
    --heading-h1-letter-spacing: 0px;
    --heading-h1-line-height: 110.00000238418579%;
    --heading-h1-uppercase-font-family: "Satoshi", Helvetica;
    --heading-h1-uppercase-font-size: 64px;
    --heading-h1-uppercase-font-style: normal;
    --heading-h1-uppercase-font-weight: 300;
    --heading-h1-uppercase-letter-spacing: 0px;
    --heading-h1-uppercase-line-height: 110.00000238418579%;
    --heading-h2-font-family: "Satoshi", Helvetica;
    --heading-h2-font-size: 48px;
    --heading-h2-font-style: normal;
    --heading-h2-font-weight: 300;
    --heading-h2-italic-font-family: "Satoshi", Helvetica;
    --heading-h2-italic-font-size: 48px;
    --heading-h2-italic-font-style: italic;
    --heading-h2-italic-font-weight: 300;
    --heading-h2-italic-letter-spacing: 0px;
    --heading-h2-italic-line-height: 110.00000238418579%;
    --heading-h2-letter-spacing: 0px;
    --heading-h2-line-height: 110.00000238418579%;
    --heading-h2-uppercase-font-family: "Satoshi", Helvetica;
    --heading-h2-uppercase-font-size: 48px;
    --heading-h2-uppercase-font-style: normal;
    --heading-h2-uppercase-font-weight: 300;
    --heading-h2-uppercase-letter-spacing: 0px;
    --heading-h2-uppercase-line-height: 110.00000238418579%;
    --heading-h3-font-family: "Satoshi", Helvetica;
    --heading-h3-font-size: 32px;
    --heading-h3-font-style: normal;
    --heading-h3-font-weight: 300;
    --heading-h3-italic-font-family: "Satoshi", Helvetica;
    --heading-h3-italic-font-size: 32px;
    --heading-h3-italic-font-style: italic;
    --heading-h3-italic-font-weight: 300;
    --heading-h3-italic-letter-spacing: 0px;
    --heading-h3-italic-line-height: 110.00000238418579%;
    --heading-h3-letter-spacing: 1px;
    --heading-h3-line-height: 120.00000476837158%;
    --heading-h3-uppercase-font-family: "Satoshi", Helvetica;
    --heading-h3-uppercase-font-size: 32px;
    --heading-h3-uppercase-font-style: normal;
    --heading-h3-uppercase-font-weight: 300;
    --heading-h3-uppercase-letter-spacing: 1px;
    --heading-h3-uppercase-line-height: 120.00000476837158%;
    --heading-h4-font-family: "Satoshi", Helvetica;
    --heading-h4-font-size: 24px;
    --heading-h4-font-style: normal;
    --heading-h4-font-weight: 300;
    --heading-h4-italic-font-family: "Satoshi", Helvetica;
    --heading-h4-italic-font-size: 24px;
    --heading-h4-italic-font-style: italic;
    --heading-h4-italic-font-weight: 300;
    --heading-h4-italic-letter-spacing: 0px;
    --heading-h4-italic-line-height: 139.9999976158142%;
    --heading-h4-letter-spacing: 1px;
    --heading-h4-line-height: 129.99999523162842%;
    --heading-h4-uppercase-font-family: "Satoshi", Helvetica;
    --heading-h4-uppercase-font-size: 24px;
    --heading-h4-uppercase-font-style: normal;
    --heading-h4-uppercase-font-weight: 300;
    --heading-h4-uppercase-letter-spacing: 1px;
    --heading-h4-uppercase-line-height: 129.99999523162842%;
    --heading-h5-font-family: "Satoshi", Helvetica;
    --heading-h5-font-size: 20px;
    --heading-h5-font-style: normal;
    --heading-h5-font-weight: 300;
    --heading-h5-italic-font-family: "Satoshi", Helvetica;
    --heading-h5-italic-font-size: 20px;
    --heading-h5-italic-font-style: italic;
    --heading-h5-italic-font-weight: 300;
    --heading-h5-italic-letter-spacing: 0px;
    --heading-h5-italic-line-height: 139.9999976158142%;
    --heading-h5-letter-spacing: 1px;
    --heading-h5-line-height: 139.9999976158142%;
    --heading-h5-uppercase-font-family: "Satoshi", Helvetica;
    --heading-h5-uppercase-font-size: 20px;
    --heading-h5-uppercase-font-style: normal;
    --heading-h5-uppercase-font-weight: 300;
    --heading-h5-uppercase-letter-spacing: 1px;
    --heading-h5-uppercase-line-height: 139.9999976158142%;
    --heading-h6-font-family: "Chillax", Helvetica;
    --heading-h6-font-size: 18px;
    --heading-h6-font-style: normal;
    --heading-h6-font-weight: 400;
    --heading-h6-italic-font-family: "Satoshi", Helvetica;
    --heading-h6-italic-font-size: 18px;
    --heading-h6-italic-font-style: italic;
    --heading-h6-italic-font-weight: 300;
    --heading-h6-italic-letter-spacing: 0px;
    --heading-h6-italic-line-height: 139.9999976158142%;
    --heading-h6-letter-spacing: 0px;
    --heading-h6-line-height: 129.99999523162842%;
    --heading-h6-uppercase-font-family: "Chillax", Helvetica;
    --heading-h6-uppercase-font-size: 18px;
    --heading-h6-uppercase-font-style: normal;
    --heading-h6-uppercase-font-weight: 400;
    --heading-h6-uppercase-letter-spacing: 0px;
    --heading-h6-uppercase-line-height: 129.99999523162842%;
    --heading-large-font-family: "Satoshi", Helvetica;
    --heading-large-font-size: 128px;
    --heading-large-font-style: normal;
    --heading-large-font-weight: 300;
    --heading-large-italic-font-family: "Satoshi", Helvetica;
    --heading-large-italic-font-size: 128px;
    --heading-large-italic-font-style: italic;
    --heading-large-italic-font-weight: 300;
    --heading-large-italic-letter-spacing: 0px;
    --heading-large-italic-line-height: 100%;
    --heading-large-letter-spacing: 0px;
    --heading-large-line-height: 100%;
    --heading-medium-font-family: "Satoshi", Helvetica;
    --heading-medium-font-size: 96px;
    --heading-medium-font-style: normal;
    --heading-medium-font-weight: 300;
    --heading-medium-italic-font-family: "Satoshi", Helvetica;
    --heading-medium-italic-font-size: 96px;
    --heading-medium-italic-font-style: italic;
    --heading-medium-italic-font-weight: 300;
    --heading-medium-italic-letter-spacing: 0px;
    --heading-medium-italic-line-height: 100%;
    --heading-medium-letter-spacing: 0px;
    --heading-medium-line-height: 100%;
    --heading-small-font-family: "Satoshi", Helvetica;
    --heading-small-font-size: 80px;
    --heading-small-font-style: normal;
    --heading-small-font-weight: 300;
    --heading-small-italic-font-family: "Satoshi", Helvetica;
    --heading-small-italic-font-size: 80px;
    --heading-small-italic-font-style: italic;
    --heading-small-italic-font-weight: 300;
    --heading-small-italic-letter-spacing: 0px;
    --heading-small-italic-line-height: 110.00000238418579%;
    --heading-small-letter-spacing: 0px;
    --heading-small-line-height: 100%;
    --heading-xlarge-font-family: "Satoshi", Helvetica;
    --heading-xlarge-font-size: 160px;
    --heading-xlarge-font-style: normal;
    --heading-xlarge-font-weight: 300;
    --heading-xlarge-italic-font-family: "Satoshi", Helvetica;
    --heading-xlarge-italic-font-size: 160px;
    --heading-xlarge-italic-font-style: italic;
    --heading-xlarge-italic-font-weight: 300;
    --heading-xlarge-italic-letter-spacing: 0px;
    --heading-xlarge-italic-line-height: 100%;
    --heading-xlarge-letter-spacing: 0px;
    --heading-xlarge-line-height: 100%;
    --icondefault: rgba(218, 197, 167, 1);
    --iconinverse: rgba(14, 14, 14, 1);
    --text-default-font-family: "Chillax", Helvetica;
    --text-default-font-size: 16px;
    --text-default-font-style: normal;
    --text-default-font-weight: 400;
    --text-default-letter-spacing: 0px;
    --text-default-line-height: 179.99999523162842%;
    --text-large-font-family: "Chillax", Helvetica;
    --text-large-font-size: 20px;
    --text-large-font-style: normal;
    --text-large-font-weight: 400;
    --text-large-letter-spacing: 0px;
    --text-large-line-height: 170.00000476837158%;
    --text-medium-font-family: "Chillax", Helvetica;
    --text-medium-font-size: 18px;
    --text-medium-font-style: normal;
    --text-medium-font-weight: 400;
    --text-medium-letter-spacing: 0px;
    --text-medium-line-height: 160.0000023841858%;
    --text-meta-font-family: "Satoshi", Helvetica;
    --text-meta-font-size: 13px;
    --text-meta-font-style: normal;
    --text-meta-font-weight: 400;
    --text-meta-large-font-family: "Satoshi", Helvetica;
    --text-meta-large-font-size: 14px;
    --text-meta-large-font-style: normal;
    --text-meta-large-font-weight: 400;
    --text-meta-large-letter-spacing: 1.5px;
    --text-meta-large-line-height: 139.9999976158142%;
    --text-meta-letter-spacing: 1.5px;
    --text-meta-line-height: 160.0000023841858%;
    --text-meta-small-font-family: "Chillax", Helvetica;
    --text-meta-small-font-size: 12px;
    --text-meta-small-font-style: normal;
    --text-meta-small-font-weight: 400;
    --text-meta-small-letter-spacing: 0px;
    --text-meta-small-line-height: 120.00000476837158%;
    --text-small-font-family: "Chillax", Helvetica;
    --text-small-font-size: 14px;
    --text-small-font-style: normal;
    --text-small-font-weight: 300;
    --text-small-letter-spacing: 0px;
    --text-small-line-height: 160.0000023841858%;
    --text-xlarge-font-family: "Chillax", Helvetica;
    --text-xlarge-font-size: 24px;
    --text-xlarge-font-style: normal;
    --text-xlarge-font-weight: 300;
    --text-xlarge-letter-spacing: 0px;
    --text-xlarge-line-height: 150%;
    --text-xsmall-font-family: "Chillax", Helvetica;
    --text-xsmall-font-size: 12px;
    --text-xsmall-font-style: normal;
    --text-xsmall-font-weight: 400;
    --text-xsmall-letter-spacing: 0.5px;
    --text-xsmall-line-height: 179.99999523162842%;
    --textdefault: rgba(218, 197, 167, 1);
    --textinverse: rgba(14, 14, 14, 1);
    --textinverse-muted: rgba(255, 255, 255, 0.6);
    --textmuted: rgba(218, 197, 167, 0.6);
  }
  